:host {
  width: 100%;
  .dashboard {
    height: 100%;
    background-color: #1e1e1e;
    overflow-y: auto;
  }

  .tab-content {
    padding: 20px;
    background-color: #1e1e1e;
    min-height: calc(100vh - 120px);
  }

  @media (max-width: 768px) {
    .tab-content {
      padding: 16px;
    }
  }
}
